<extend name="Public:base"/>
<block name="title">后台管理界面</block>
<block name="description">后台管理界面</block>
<block name="body">
<table class="table">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
            <th>operation</th>
        </tr>'
    <volist name="cate" id="vo"><!--  该volist标签可以被TP框架检测并  功能为自动把cate当作vo遍历 -->
        <tr id="{$vo.id}">
            <th><textarea class="id">{$vo.id}</textarea></th>
            <th><textarea class="name">{$vo.name}</textarea></th>
            <th><textarea class="comment">{$vo.comment}</textarea></th>
            <th><button onclick="edit('{$vo.id}')">修改</button>
                <button onclick="delet('{$vo.id}')">删除</button></th>
        </tr>
    </volist>

</table>
</block>
<block name="js">
        <script>//发送评论
            function delet(id){
                $.post(window.location.href, {'operation':'del','id':id});
                location.reload();
            }
            //修改评论
            function edit(id){
                id=document.getElementById(id).getElementsByClassName('id')[0].value;
                name=document.getElementById(id).getElementsByClassName('name')[0].value;
                comment=document.getElementById(id).getElementsByClassName('comment')[0].value;
                // alert('id:'+id+' name:'+name+' comment:'+comment);
                $.post(window.location.href, {'operation':'edit','id':id,'name':name,'comment':comment});
                location.reload();
            }
        </script>
</block>